<footer class="navbar-light bg-light absolute-bottom float-sm-end w-100 mx-0">
        <div class="container-fluid">
            <nav class="navbar ">
            <a class="navbar-brand w-auto" href="#">&copy;jinkun.</a>
        </div>
    </nav>
</footer>
